<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidModule1"
        tools:targetApi="31">
        <activity
            android:name=".exercise.classroom.ejercicio2edgar.ConstraintLActivity"
            android:exported="false" />
        <activity
            android:name=".exercise.classroom.ejercicio2edgar.RelativeLActivity"
            android:exported="false" />
        <activity
            android:name=".exercise.classroom.ejercicio2edgar.LinearLActivity"
            android:exported="false" />
        <activity
            android:name=".exercise.classroom.ejercicio2edgar.EdgarLayoutsActivity"
            android:exported="false" />
        <activity
            android:name=".exercise.classroom.ejercicio2edgar.FrameLActivity"
            android:exported="false" />
        <activity
            android:name=".exercise.classroom.Ejercicio2Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".exercise.classroom.luisTapia.LuisSecondActivity"
            android:exported="false" />
        <activity
            android:name=".exercise.classroom.luisTapia.LuisActivity"
            android:exported="false" />
        <activity
            android:name=".exercise.classroom.EquipoCuatroActivity"
            android:exported="true" />
        <activity
            android:name=".exercise.classroom.edgarIntent.EdgarSecondActivity"
            android:exported="false" />
        <activity
            android:name=".exercise.classroom.edgarIntent.EdgarActivity"
            android:exported="true" />
    </application>

</manifest>